/* ================= JOGOS ================= */

.jogos-em-breve {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  padding: 32px 16px;
}

.jogos-card {
  background: #dbbcacab; /* marrom escuro */
  border: 4px solid #0c0a18; /* roxo vibrante estilo SNES */
  padding: 40px;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 12px 30px rgba(0,0,0,0.5);
  max-width: 400px;
  width: 100%;
  font-family: 'Press Start 2P', cursive; /* opcional, estilo retrô */
}

.jogos-card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 24px;
/* contorno do estilo pixel art */
}

.jogos-card h1 {
  color: #000000;
  font-size: 1.8rem;
  margin-bottom: 12px;
}

.jogos-card p {
  color: #ccc;
  font-size: 0.9rem;
  line-height: 1.4;
}

/* ================= MOBILE ================= */

@media (max-width: 600px) {
  .jogos-card {
    padding: 24px;
  }

  .jogos-card h1 {
    font-size: 1.4rem;
  }

  .jogos-card p {
    font-size: 0.85rem;
  }
}
